@font-face {
    font-family: fixedsys;
    src: url(fonts/fsex300.woff);
}
@keyframes blink {
  0%, 50% { opacity: 1; }
  50.01%, 100% { opacity: 0; }
}

* {
    all: unset;
    cursor: url(icons/cursor.cur), default;
    font-family: fixedsys;
    font-size: 3vh;
    user-select: none;           /* Standard */
  -webkit-user-select: none;   /* Chrome/Safari */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
}

title {
    display: none;
}
body {
    overflow: hidden;
    background-color: #0b0b0b;
}

span {
    height: 3vh;
    font-family: fixedsys;
    font-size: 3vh;
    margin: 0;
    padding: 0;
}
#terminal {
    width: 1fr;
    height: 1fr;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #33ffcc;
}
.line {
    width: 100vw;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 1vh;
}
.input {
    caret-color: transparent;
}
.input::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 1ch;
  height: 1em;
  background-color: #33ffcc;
  animation: blink 1s steps(1) infinite;
}

.response {
    width: 1fr;
    padding-left: 5vh;
    padding-bottom: 1vh;
    font-family: fixedsys;
}
.response ul {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 5vh;
}


/* @keyframes boot-animation {
    0% {
        clip-path: inset(50% 0 50% 0);
    }
    10% {
        clip-path: inset(50% 0 50% 0);
    }
    15% {
        clip-path: inset(0 0 0 0);
    }
    20% {
        transform: scaleX(0);
    }
    25% {
        transform: scaleX(1);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(150);
    }
} */

@keyframes boot-animation {
    0% {
        transform: scaleX(0);
    }
    10% {
        transform: scaleX(0);
    }
    20% {
        transform: scaleX(1);
    }
    30% {
        transform: scaleX(0);
    }
    40% {
        transform: scaleX(1);
    }
    50% {
        transform: scaleX(0);
    }
    60% {
        transform: scaleX(1);
        
    }
    70% {
        transform: scaleX(0);
        width: 6vh;
        height: 6vh;
        clip-path: inset(0 0 0 0);
    }
    71% {
        background-color: #0b0b0b;
        clip-path: inset(0 50% 0 50%);
    }
    72% {
        width: 100vw;
        height: 100vh;
        background-color: #33ffcc;
        clip-path: inset(0 50% 0 50%);
    }
    100% {
        background-color: #33ffcc;
        width:100vw;
        height:100vh;
        clip-path: inset(0 0 0 0);
    }
}
#boot-screen {
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
}
#boot-screen img {
    height: 6vh;
    width: 6vh;
}
.boot-animation {
    animation: boot-animation 15s ease-out forwards;
}